/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

body {
    background-color: white; /* fondo del bloque */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; /* estilo de fuente */
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: black; /* color de la fuente */
    font-size: 2em; /* tamaño de la fuente */
    text-align: center; /* alineación de la fuente */
    text-decoration: underline; /* subrayado del texto */
    font-weight: bold; /* negrita en la fuente */
}

h2 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    font-weight: bolder;
}

h3 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding: 25px;
    font-weight: bolder;
}

h5 {
    color: black;
    font-size: 1em;
    align-items: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 20px;
}

p {
    font-size: 1.2em;
    text-align: justify;
    padding: 40px;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 1400px;
}

.frente img {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 50px;
}

.navbar {
    background-color: darkgreen;
    position: sticky;
    top: 0;
}

header img {
    margin: 0;
    padding: 10px 20px;
    width: 8%;
    right: 8%;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: black;
    font-size: small;
    font-weight: bold;
    list-style-type: none;
}

a:hover {
    color: gold; /* permite dar color al momento de pasar el mouse */
}

ul {
    list-style-type: none;
}

.VOLVER_INICIO a {
    font-size: small;
    font-family: "Bungee Spice", sans-serif;
    color: red;
    text-decoration: underline;
    padding-left: 20px;
}

.contenedor-imagen img {
    width: 32%; /* Establece el ancho deseado para las imágenes */
    height: 350px; /* Permite que la altura se ajuste proporcionalmente */
    padding: 7px;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 50px; /* Puedes ajustar este valor según sea necesario */
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
}

iframe {
    width: 32%;
    padding: 7px;
}

.mapa iframe {
    width: 80%;
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
}

.IMAGEN_PIE img {
    position: absolute;
    bottom: 0;
    left: 35%;
    border-radius: 100px;
    width: 30%;
    right: 20%;
}

.pie_pagina img {
    position: relative;
    bottom: 0;
    left: 40%;
    width: 20%;
    right: 20%;
}

footer p {
    background-color: whitesmoke;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    font-weight: bold;
}

