@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
h1 {
  color: black;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  margin: 30px 0 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  color: #000000;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bolder;
}

h3 {
  color: #000000;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  padding: 25px;
  font-weight: bolder;
}

h5 {
  color: black;
  font-size: 1em;
  align-items: center;
  text-decoration: underline;
  font-weight: bold;
  padding: 20px;
}

header img {
  margin: 0;
  padding: 10px 20px;
  width: 8%;
  right: 8%;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  background-image: linear-gradient(to left, #017F2A, #A9D300);
  top: 0;
  border-bottom: 3px solid green;
}

.contenedor-imagen img {
  width: 100px; /* Establece el ancho deseado para las imágenes */
  height: 350px; /* Permite que la altura se ajuste proporcionalmente */
  padding: 7px;
}

.frente img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 50px;
}

.IMAGEN_PIE img {
  position: absolute;
  bottom: 0;
  left: 35%;
  border-radius: 100px;
  width: 30%;
  right: 20%;
}

.pie_pagina img {
  position: sticky;
  bottom: 0;
  left: 40%;
  width: 20%;
  right: 20%;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-icon img {
  width: 50px; /* Puedes ajustar este valor según sea necesario */
  height: auto;
  border-radius: 50%; /* Esto hace que la imagen sea circular */
}

footer p {
  background-image: linear-gradient(to left, #017F2A, #A9D300);
  font-size: smaller;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  font-weight: bold;
  padding-bottom: 100px;
}

p {
  font-size: 1.2em;
  text-align: justify;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 3px;
  color: black;
  font-size: small;
  font-weight: bold;
  list-style-type: none;
}

a:hover {
  color: gold;
}

ul {
  list-style-type: none;
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    background-color: green;
  }
  .IMAGEN_PIE img {
    background-color: green;
    color: green;
    position: relative;
    bottom: 0;
    left: 35%;
    width: 30%;
    right: 20%;
  }
  header img {
    margin: 0;
    padding: 10px 20px;
    width: 8%;
    right: 8%;
  }
  header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    background-color: darkgreen;
    position: sticky;
    top: 0;
  }
}
/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    background-color: white;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  header img {
    margin: 0;
    padding: 10px 20px;
    width: 50%;
    right: 50%;
  }
  h1 {
    font-weight: bold;
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .card {
    width: 70%;
    height: auto;
  }
  .IMAGEN_PIE img {
    position: relative;
    bottom: 0;
    left: 35%;
    width: 30%;
    right: 20%;
  }
  h2 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding-top: 0;
    font-weight: bolder;
    margin: 10px;
  }
  h5 {
    color: black;
    font-size: 1em;
    align-items: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
  }
  .navbar {
    background-color: green;
    position: sticky;
    top: 0;
  }
  header .container {
    display: inline-block;
    flex-direction: row;
    align-items: center;
  }
  a {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: black;
    font-size: small;
    font-weight: bold;
    list-style-type: none;
  }
  a:hover {
    color: gold;
  }
  .mapa iframe {
    width: 70%;
    height: 80%;
  }
}
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px; /* Añade un espacio entre las tarjetas */
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px;
}

.card img {
  border-radius: 5px;
  max-width: 100%;
  margin-left: 25px;
  margin-top: 30px;
  height: 150px;
  width: 250px;
}

.card-body {
  padding: 15px;
}

.card-title {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  margin-left: 60px;
}

.btn:hover {
  background-color: #0056b3;
}

/*animacion en las card*/
.card:hover {
  transform: perspective(300px) rotateX(10deg) translateY(-5%) translateZ(0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.videos-ilustrativos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.videos-ilustrativos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.videos-ilustrativos iframe {
  width: 400px;
  height: 235px;
}

.grid-conteiner-actuaciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px 50px;
  gap: 5px;
  padding-bottom: 0;
}

.grid-conteiner-intrucciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 50px;
  gap: 5px;
  padding-bottom: 0;
}

/** esto es el codigo de la introduccion**/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  background-image: linear-gradient(to left, #017F2A, #A9D300);
}

.grid-item {
  padding: 5px;
}

/* Diseño para pantallas medianas: 1 columna */
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna */
  }
}
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #017F2A, #A9D300);
}

.VOLVER_INICIO a {
  font-size: small;
  font-family: "Bungee Spice", sans-serif;
  color: red;
  text-decoration: underline;
  padding-left: 20px;
}

iframe {
  width: 32%;
  padding: 7px;
}

.mapa iframe {
  width: 80%;
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
