
    .grid-conteiner-actuaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 50px;
    gap: 5px;
    padding-bottom:0;
  }
  .grid-conteiner-intrucciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 50px;
    gap: 5px;
    padding-bottom:0;

  }

  /** esto es el codigo de la introduccion**/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    background-image: linear-gradient(to left, #017F2A, #A9D300);

}

/*ANIMACIONES*/

.grid-item {
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.3s ease; 
}

.grid-item:hover {
  transform: scale(1.05); 
  background-color:  #A9D300;
}


/* Diseño para pantallas medianas: 1 columna */
@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr; /* Una columna */
    }
}
  
  