/* Estilos para pantallas medianas */
@media (max-width: 800px) {
  body {
    font-size: 14px;
    background-image: linear-gradient(to left, #017F2A, #A9D300);
  }
  h1 {
    color: black;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    margin: 30px 0 30px 0;
    margin-top: 0px;
    margin-bottom: 10px;
  }
    
  header img {
    margin: 0;
    padding: 10px 20px;
    width: 15%;
    right: 15%;
  }

  .navbar {
    background-color: red;
    position: sticky;
    top: 0;
  }

  header .container {
    display: block;
    flex-direction: row;
    align-items: center;
  }
  .navbar1 {

    background-image: linear-gradient(to left, #017F2A, #A9D300);
    top: 0;
    border-bottom: 3px solid green;
  }
  header .container1 {
    display: block  ;
    flex-direction: row;
    align-items: center;
  } 

  .logo1 {
    margin: auto;/* Mueve el logo 10px a la derecha del borde izquierdo */
    width: 20%;
    right: 20%;
  }
  .logo {
    margin: auto;/* Mueve el logo 10px a la derecha del borde izquierdo */
    width: 10%;
    right: 10%;
  }
  .carousel-inner img {
    width: 300px;
    height: 300px; /* Permite que la altura se ajuste automáticamente en pantallas pequeñas */
  }
  .card {
    width: 70%;
    height: auto;
    
  }

  h2 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding-top: 0;
    font-weight: bolder;
    margin: 10px;
  }

  h5 {
    color: black;
    font-size: 1em;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;

  }

  a {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: black;
    font-size: small;
    font-weight: bold;
    list-style-type: none;
  }

  a:hover {
    color: gold;
  }

  .mapa iframe {
    width: 70%;
    height: 80%;
  }
  

}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    background-image: linear-gradient(to left, #017F2A, #A9D300);
  }

  header img {
    margin: 0;
    padding: 10px 20px;
    width: 15%;
    right: 15%;
  }

  .navbar {
    background-color: red;
    position: sticky;
    top: 0;
  }

  header .container {
    display: block;
    flex-direction: row;
    align-items: center;
  }
  .navbar1 {

    background-image: linear-gradient(to left, #017F2A, #A9D300);
    top: 0;
    border-bottom: 3px solid green;
  }
  header .container1 {
    display: block  ;
    flex-direction: row;
    align-items: center;
  } 

  .logo1 {
    margin: auto;/* Mueve el logo 10px a la derecha del borde izquierdo */
    width: 20%;
    right: 20%;
  }
  .logo {
    margin: auto;/* Mueve el logo 10px a la derecha del borde izquierdo */
    width: 10%;
    right: 10%;
  }
  .carousel-inner img {
    width: 300px;
    height: 300px; /* Permite que la altura se ajuste automáticamente en pantallas pequeñas */
  }

  .card {
    width: 70%;
    height: auto;
  }

  h2 {
    color: #000000;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    padding-top: 0;
    font-weight: bolder;
    margin: 10px;
  }

  h5 {
    color: black;
    font-size: 1em;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;

  }

  a {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: black;
    font-size: small;
    font-weight: bold;
    list-style-type: none;
  }

  a:hover {
    color: gold;
  }

  .mapa iframe {
    width: 70%;
    height: 80%;
  }

  
  

}