@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import "titulo-subtitulo.scss";
@import "header.scss";
@import "imagenes.scss";
@import "footer.scss";
@import "enlace-texto.scss";
@import "reponsive.scss";
@import "cards.scss";
@import "video.scss";


body {
    background-color:white;
    margin: 0;
    padding: 0;
}
.VOLVER_INICIO a {
    font-size: small;
    font-family: "Bungee Spice", sans-serif;
    color: red;
    text-decoration: underline;
    padding-left: 20px;
}

iframe {
    width: 32%;
    padding: 7px;
}

.mapa iframe {
    width: 80%;
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
}



