@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import "titulo-subtitulo.scss";
@import "header.scss";
@import "imagenes.scss";
@import "footer.scss";
@import "enlace-texto.scss";
@import "reponsive.scss";
@import "cards.scss";
@import "video.scss";
@import "grid.scss";
@import "pseudo-clase.scss";


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#017F2A   ,#A9D300);

}
.VOLVER_INICIO a {
    font-size: small;
    font-family: "Bungee Spice", sans-serif;
    color: red;
    text-decoration: underline;
    padding-left: 20px;
}

iframe {
    width: 32%;
    padding: 7px;
}

.mapa iframe {
    width: 80%;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
}
a {
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    list-style-type: none;
  }

  h1 {
    color: black;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    margin: 30px 0 30px 0;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
 
  h2:hover {
    transform: scale(1.1); 
  }
 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2 {
    animation: fadeIn 3s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

h1 {
  animation: bounce 2s ease;
}

@keyframes zoomIn {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

h2 {
  animation: zoomIn 1s ease-in-out;
}




 